.navbar__link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__icon {
  display: block;
  border-radius: 0.75rem;
  padding: 0.625rem;

  svg {
    width: 1.75rem;
  }
}
