@use "@/scss/abstracts/" as *;

@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&display=swap");

:root {
  --__primary-color: #c0eb6a;
  --__text-dark-color: #495551;

  --__primary-font: "M PLUS Rounded 1c", sans-serif;
}

html,
body {
  font-family: $primary-font;
  background-color: #f4f5f0;
  color: #495551;
}

ul {
  padding: 0;
}

a {
  color: #495551;
  text-decoration: none;

  &:active {
    color: red;
  }

  &:hover {
    text-decoration: underline;
  }
}
