:root {
  --__primary-color: #c0eb6a;
}

/* Theme colors */
$primary-color: var(--__primary-color);
$secondary: #485550;
$error: #d32752;
$info: #f6c31c;

/* Color palette */
$colors: (
  "primary": $primary-color,
  "secondary": $secondary,
  "error": $error,
  "info": $info,
  "gray": #808080,
  "black": black,
  "white": white,
);
